<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
    </head>
    <body>
        <h1>Hawaii Weather API</h1>
        <p>The following urls are enpoints for this api.</p>
        <table border="1">
            <thead>
                <tr>
                    <th>URL</th>
                    <th>Function</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>/api/v1.0/precipitation</td>
                    <td>Lists all available precipitation data by date.</td>
                </tr>
                <tr>
                    <td>/api/v1.0/stations</td>
                    <td>Lists all the station from the dataset.</td>
                </tr>
                <tr>
                    <td>/api/v1.0/tobs/&lt;station&gt;</td>
                    <td>Lists temperature observations for the previous year for the given &lt;station&gt;.</td>
                </tr>
                <tr>
                    <td>/api/v1.0/&lt;start&gt;/&lt;end&gt;</td>
                    <td>Lists the min, max and average temperature in the specified range.</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
